{% extends "base.html" %}
{% block title %}Akatsuki - Home{% endblock %}

{% block content %}
<div class="h-screen flex justify-center text-center mt-32">
  <div>
    <div class="cloud-symbol">☁</div>
    <h1 class="text-7xl font-extrabold akatsuki_title akatsuki_title_glow mt-3">AKATSUKI</h1>
    <p class="akatsuki_subtitle akatsuki_subtitle_glow mt-5">THE ORGANIZATION OF DAWN</p>
    <p class="akatsuki_p_font max-w-xl mt-8">Step into the Shadows where Legends are born and Chaos meets Community</p>
  </div>
  <div>
    <a>
      href="{{  }}"
    </a>
  </div>
</div>
{% endblock %}
